.with-tooltip {
    position: relative;
    display: inline-block;
}

.tooltip {
    width: max-content;
    position: absolute;
    background: rgba(112, 118, 151, 0.6);
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 2px;
    text-shadow: 
            -1px -1px 0 rgb(80, 80, 80), 
            1px -1px 0 rgb(80, 80, 80),
            -1px 1px 0 rgb(80, 80, 80), 
            1px 1px 0 rgb(80, 80, 80);
    padding: 10px;
    backdrop-filter: blur(8px);
    color: white;
    border-radius: 3px;
    opacity: 0;
    z-index: -1;
}

.with-tooltip .active {
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s;
}